<%- include('partials/header') %>
<style media="screen">
* { padding:0;margin:0;}

body { position:relative;width:100%;}

.parallax-container {
  position:relative;
  overflow:hidden;
  height: 350px;
}

.parallax {
  position:absolute;
  top:0;
  height:120%;
  width:100%;

  background-image:url(https://i.pinimg.com/originals/de/06/e1/de06e1b1e4a49f033f52d1ae0a2d49ad.png);
  background-color:#8e24aa;
  background-size:cover;
}

h1,h3,p,h2,blockquote,li { font-family:'Merriweather', sans-serif;font-weight:300;}

.containereu {
  width:80%;

  position:relative;
  top:-250px;

  background-color:#fff;
  margin:0 auto;

  padding:50px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1), 0 16px 48px rgba(0, 0, 0, 0.2);
}

h1 { font-size:50px;margin-bottom:10px;}
h3 { font-size:18px;margin-bottom:20px;}
h2 { font-size:34px;margin-bottom:10px;}
p,blockquote { font-size:19px;}
li { font-size:19px;}

p,ul { margin-bottom:20px;}
blockquote { margin-left:35px;}
a {
  color: black;
}
a:hover {
  text-decoration: none;
  color: #8e24aa;
  font-size:2.5rem;
}

</style>

<!-- here -->
  <div class="parallax-container">
    <div class="parallax" speed="1.5"></div>
  </div>
  <div class="containereu">
    <div class="container">
  <div class="row"></div>

</div>
<div class="container mt-5">
  <h1>Login</h1>
<hr style="height:3px;border-width:0;color:gray;background-color:#8e24aa">
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <form action="/login" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-dark">Login</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign In with Google
          </a>
        </div>
      </div>
    </div>

  </div><br>

</div></div>



<%- include('partials/footer') %>
